" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=8
set nu
set relativenumber
set incsearch
set softtabstop=4
set shiftwidth=2
set expandtab=true
set smartindent=true
set wrap=false
set hlsearch=false
set clipboard=unnamedplus,unnmamed,ideaput
let mapleader=" "

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'vim-matchit'

" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
nmap <leader>bf <Action>(ReformatCode)<CR>
nmap <Tab> v><C-\><C-N>
nmap <S-Tab> v<<C-\><C-N>
vmap <Tab> >gv
vmap <S-Tab> <gv
imap <S-Tab> <C-\><C-N>v<<C-\><C-N>^i
map <leader>ff <Action>(FindInPath)<CR>
map <leader><Space> <Action>(SearchEverywhere)<CR>
map <leader>qf <Action>(ShowIntentionActions)<CR>
map <leader>r <Action>(RenameElement)<CR>


"" Map <leader>d to start debug
map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)

